*, *::before, *::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-size: 62.5%;
}

.mainCont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;

  h1{
    font-size: 2.2rem;
    color: gray;
  }

  p{
    font-size: 1.4rem;
  }
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 1%;
  margin: 2% 0;
  border: 1px solid #999;
  border-radius: 5px;
  background-color: darkgoldenrod;

  h2{
    font-size: 1.6rem;
    color: #333;
  }

  &:hover{
    cursor: pointer;
    opacity: 0.8;
  }
}

.completed{
  text-decoration: line-through;
  color: red;
}

.formCont{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3%;
  margin: 5% 0;

  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label{
      font-size: 1.4rem;
      margin: 0 1% 0 0;
    }

    input{
      padding: 5px;
      margin: 2% 0;
      font-size: 1.4rem;
    }

    .buttonCont{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      button{
        background-color: green;
        font-size: 1.1rem;
        padding: 5px 8px;
        margin: 0 1% 0 0;
        border-radius: 5px;

        &:hover{
          cursor: pointer;
          opacity: 0.8;
        }
      }//end button
    }//end buttonCont

    

  }//end form

}//end formCont